/* TODO: Style navigation bar with Flexbox */
.nav-content {
    position: sticky;
    top:0;
    background-color: #f2f5f8cb;
    z-index: 1000;
    gap: 20px;
    display: flex;
    justify-content: center;
    height: 60px;
}

.nav-link {
    color: #00253f;
    text-decoration: none;
    font-size: 20px;
    font-family:'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 500;
}

.nav-link:hover {
    color: #2264bb;
    text-decoration: underline;
    
}

/*Main Section Styling*/
.hello{
    background-position: center;
    color: #002346;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    padding: 50px 20px;
    background: #81b2e286;
    
}

.hello h1{
    font-size: 80px;
}

.hello p{
    font-size: 40px;
}

/* TODO: Media query for vertical stacking on small screens */
@media screen  and (max-width:600px){
    .nav-content{
        width: 100%;
    }
    
}

/* TODO: Dark theme styles */
.toogle-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    background: #002346;
    color: aliceblue;
}

button{
    background-color: #02243dc0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    align-items: center;
}

.new-button{
    background: #002346;
    color: aliceblue;
}

.hobbies{
    padding:60px 20px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    color: #011c36;
    font-size: 30px;
    text-align: center;
}

/* TODO: Highlight class for list items */
.hobbies li{
    color: aqua;
}
